@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  height: 100vh; /* Ensure full height */
}

/* Custom Utilities if needed */
.sidebar-link-active {
  @apply bg-[#1e3a8a] text-white; /* Blue-900 like */
}
